// Dark Mode
$dark-background: rgb(32, 32, 32);
$dark-color: rgb(250, 150, 0);
$dark-hr: 1px solid rgba(250, 150, 0, .5);
$dark-img-border-small: 3px solid rgba(250, 150, 0, .25);
$dark-img-border-large: 10px solid rgba(250, 150, 0, .25);

// Light Mode
$light-color: rgb(32, 32, 32);
$light-background: rgb(255, 255, 255);
$light-hr: 1px solid rgba(32, 32, 32, .5);
$light-img-border-small: 3px solid rgba(32, 32, 32, .25);
$light-img-border-large: 10px solid rgba(32, 32, 32, .25);

// Mobile Specific
$mobile-border: 0 1px 6px 0 rgba(0, 0, 0, .5);

// Global
$font-stack: "Source Sans Pro",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-size-default: 10px;
$font-size-small: 8px;
$line-height: 16.5px;
$letter-spacing-default: 2.5px;
$letter-spacing-small: 2px;
$nav-selected-font-weight: 700;



// Overrides 
.fancybox__content > img {
  border: 0px !important;
}

hr {
  border: 0;
}

button {
  background-color: transparent;
}

body {
  font-family: $font-stack;
  font-size: $font-size-default;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  overflow: none;
  padding: 0;
  text-transform: uppercase;
}


p {
  &.about {
    font-size: $font-size-default;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: $letter-spacing-default;
    text-transform: uppercase;
  }

  &.notice {
    font-size: $font-size-small;
    font-stretch: normal;
    font-style: italic;
    font-weight: normal;
    letter-spacing: $letter-spacing-small;
    text-transform: uppercase;
  }
}

[data-theme="dark"] {
  background-color: $dark-background;
  color: $dark-color;

  hr {
    border-top: $dark-hr;
  }

  .fas {
    background-color: $dark-background;
    color: $dark-color;
  }

  .logo {
    filter: invert(62%) sepia(53%) saturate(1783%) hue-rotate(355deg) brightness(96%) contrast(112%);
  }

  ul,
  li,
  a {
    color: $dark-color;
    text-decoration: none;
  }

  img {
    border: $dark-img-border-small;
  }

  .about-image {
    border: $dark-img-border-large;
  }

  .sidebar,
  .footer,
  .mobile-topbar {
    background-color: $dark-background;
  }

  .fancybox__content > img {
    box-shadow: 0px 0px 10px 10px rgba($dark-color, 0.1)
  }
  .fancybox__caption {
    color: $dark-color;
  }

}

[data-theme="light"] {
  background-color: $light-background;
  color: $light-color;

  hr {
    border-top: $light-hr;
  }

  .fas {
    background-color: $light-background;
    color: $light-color;
  }

  .logo {
    filter: invert(0%) sepia(0%) saturate(17%) hue-rotate(324deg) brightness(102%) contrast(105%);
  }

  ul,
  li,
  a {
    color: $light-color;
    text-decoration: none;
  }

  img {
    border: $light-img-border-small;
  }

  .about-image {
    border: $light-img-border-large;
  }

  .sidebar,
  .footer,
  .mobile-topbar {
    background-color: $light-background;
  }

  .fancybox__content > img {
    box-shadow: 0px 0px 10px 10px rgba($light-background, 0.1)
  }
}


.sidebar {
  float: left;
  height: 100%;
  max-width: 20%;
  min-width: 20%;
  width: 20%;
  display: block;
}

.sidebar-logo {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: calc(50% / 2);
  padding-top: calc(50% / 2);
  width: 50%;
}

.mobile-topbar {
  box-shadow: $mobile-border;
  display: none;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;

}

.mobile-topbar-logo {
  height: 75%;
  padding: 6.25px 6.25px 6.25px 12.5px;
  width: auto;
}

.mobile-topbar-nav {
  float: right;
  font-size: 1.5rem;
  height: 100%;
  padding: 6.25px 12.5px 6.25px 6.25px;
}

.content {
  float: left;
  height: calc(100vh - 100px);
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 80%;
  min-width: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 80%;
}

ul,
li {
  font-weight: 400;
  line-height: $line-height;
  list-style-type: none;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.nav-child {
  display: none;
  padding-inline-start: 20px;
}


li.group-visible {
  display: block;

}

.nav-selected {
  font-weight: 700;
}

.footer {
  bottom: 0;
  height: 50px;
  max-width: 100%;
  min-width: 20%;
  position: fixed;
  width: 20%;
  z-index: 99;

  .footer-grid {
    display: grid;
    grid-template-areas: 'darkmode-toggle copyright-text';
    grid-template-columns: min-content 1fr;
  }

}

.copyright-text {
  font-size: $font-size-small;
  grid-area: copyright-text;
  margin-bottom: auto;
  margin-top: auto;
  opacity: 45%;
  text-align: center;
  width: 150px;
}

.darkmode-toggle,
.mobile-topbar-nav {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

.darkmode-toggle {
  grid-area: darkmode-toggle;

}

.icon-mode,
.mobile-topbar-nav-icon,
.social-link {
  font-size: 1.5rem;
  height: fit-content;
  width: fit-content;
}

.social-link {
  padding-right: 10px;
}

.glass-link {
  height: 25px;
  width: 25px;
}

.gallery {
  padding-left: 50px;
  padding-right: 50px;
}

.container-about {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  margin: auto;

  .container-about-section {
    flex: 45%;
    margin: auto;

    .about-image {
      display: block;
      width: 50%;
      height: auto;
      margin: auto;
    }

    .about-content {
      width: 80%;
      margin: auto;
    }
  }
}



a:hover {
  font-style: italic;
  text-shadow: .25px 0 .1px, -.25px 0 .1px;
}

.justified-image-grid {
  --last-row-background: transparent;
  --min-height: 200px;
  --space: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--space);
  list-style: none;
  margin: 0;
  padding: 0;

  > * {
    aspect-ratio: var(--width) / var(--height);
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;

    >img {
      height: 100%;
      position: absolute;
      width: 100%;

    }
  }

}

.justified-image-grid::after {
  background: var(--last-row-background);
  content: ' ';
  flex-grow: 1000000000;
}



@media screen and (max-width: 1080px) {
  
  .container-about {
    .container-about-section {
      flex: 100%;

      .about-image {
        width: 25%;
        margin-bottom: 50px;
      }
  
      .about-content {
        width: 80%;
        margin: auto;
      }
    }
  }

  .sidebar {
    display: none;
    min-width: 250px;
    position: fixed;
    right: 0;
    top: 50px;
    width: 250px;
    z-index: 1;
  }

  .mobile-topbar {
    display: block;
    z-index: 1;
  }

  .footer {
    width: 100%;

    .footer-grid {
      grid-template-areas: 'copyright-text darkmode-toggle';
      grid-template-columns: 1fr min-content;
    }

    .icon-mode {
      padding-right: 6px;
    }
  }

  .content {
    height: calc(100% - 100px);
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    z-index: -2;
  }
}