---
import Layout from '../layouts/BaseLayout.astro'
const title = 'Contact Us';
const description = 'Contact Form to be used to contact Cap and Camera'
const header = 'Contact Us'
---
<Layout title={title} description={description} header={header}>

    <div class="container-contact">
        <form
        id="contact-form"
        method="POST"
        action="https://script.google.com/macros/s/AKfycbw0zF9-UiNzgek4aeG5p1YjSUyDQY8zrjz5oDn4OG1p0hz6xNv5DFZsL7fWPEpCFJcS/exec"
        >
            <h2> Send a Message </h2>
            <br/>
            <section id="form">

                <input name="Name" type="text" placeholder="NAME" required>
                <br/>
                <input name="Email" type="email" placeholder="EMAIL" required>
                <br/>
                <textarea rows="5" cols="60" maxlength="280" name="Message" placeholder="ENTER MESSAGE" required></textarea>
                <br/><br/>
                <button id="contact-form-submit" type="submit">Send</button>

            </section>
            <br/> <br/> <br/> <br/>
            <hr/>
            <br/> <br/> <br/>

            <section id="socials">

                <div style="display:flex;">
                    <a href="https://twitter.com/capandcamera">
                        <i class="fa-brands fa-twitter social-link"></i>
                    </a>
                    <p>Tweet Me!</p>
                </div>
                <div style="display:flex;">
                    <a href="https://github.com/capandcamera/capandcamera-astro">
                        <i class="fa-brands fa-github social-link"></i>
                    </a>
                    <p>View this website on GitHub</p>
                </div>
                <div style="display:flex;">
                    <a href="https://ko-fi.com/capandcamera">
                        <i class="fa-solid fa-mug-hot social-link"></i>
                    </a>
                    <p>Donate Via Ko-Fi</p>
                </div>
            </section>
        </form>
    </div>
</Layout>

<script>
    window.addEventListener("load", function() {
    const form = document.getElementById('contact-form');
    form.addEventListener("submit", function(e) {
        e.preventDefault();
        $("#contact-form-submit").prop('disabled',true)
        $("#contact-form-submit").text('Sending....')
        // @ts-ignore
        const data = new FormData(form);
        // @ts-ignore
        const action = e.target.action;
        fetch(action, {
        method: 'POST',
        body: data,
        })
        .then(() => {
            alert("Message Sent!");
            $('input[name="Name"]').val('')
            $('input[name="Email"]').val('')
            $('textarea[name="Message"]').val('')
            $("#contact-form-submit").text('Send')
            $("#contact-form-submit").prop('disabled',false)
        })
    });
    });
</script>