---
// Style Imports
import Layout from '../layouts/BaseLayout.astro'

const title = 'Cap and Camera';
const description = 'Main Page of Cap and Camera, The Artistic Portfolio of Joshua Powell.'
const header = 'About Cap and Camera'
---

<Layout title={title} description={description} header={header}>
    <div class="container-about">
        <div class="container-about-section">
            <img class="about-image" src="/assets/photos/about.jpg" alt="CapandCamera">
        </div>
        <div class="container-about-section">
            <div class="about-content">
                <h2>Joshua Powell</h2>
                <h3>CAPANDCAMERA</h3>
                <br><hr><br>
                <p class="about">
                    A Photographer originally from South East London. <br><br>

                    He fell in love with photography at around the age of 20 when he purchased his first camera (Nikon D90).
                    Unfortunately due to family issues, he was required to sell that camera, without the funds to purchase another camera for a few years it was a constant regret. <br><br>

                    After 5 years without a camera (other than his mobile phone), he purchased a second-hand camera (Samsung GX-10) via Facebook Marketplace which reignited his passion for photography.
                    After using this camera for a few years and accumulating a few lenses he decided to upgrade the body to a Pentax K-70. <br><br>


                    In late 2020 he decided to invest in his passion and purchased a full frame camera (Sony A7RIV) with some high quality lenses.
                </p>
                <br><hr><br>
                <p class="about">
                    This website contains a selection of his photography, design and video work.
                </p>
                <p class="notice">
                    Please note: Images are displayed at a low resolution on the website.
                </p>
                <br><hr><br>
                <section id="socials">

                    <div style="display:flex;">
                        <a href="https://twitter.com/capandcamera">
                            <i class="fa-brands fa-twitter social-link"></i>
                        </a>
                        <p>Tweet Me!</p>
                    </div>
                    <div style="display:flex;">
                        <a href="https://github.com/capandcamera/capandcamera-astro">
                            <i class="fa-brands fa-github social-link"></i>
                        </a>
                        <p>View this website on GitHub</p>
                    </div>
                    <div style="display:flex;">
                        <a href="https://ko-fi.com/capandcamera">
                            <i class="fa-solid fa-mug-hot social-link"></i>
                        </a>
                        <p>Donate Via Ko-Fi</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</Layout>