---
// Style Imports
import Layout from '../layouts/BaseLayout.astro'

const title = 'Cap and Camera';
const description = 'Main Page of Cap and Camera, The Artistic Portfolio of Joshua Powell.'

---

<Layout title={title} description={description} > 
    <div class="container-about">
        <div class="container-about-section">
            <img class="about-image" src="/assets/photos/about.jpg">
        </div>
        <div class="container-about-section">
            <div class="about-content">
                <h2>Joshua Powell</h2>
                <h3>CAPANDCAMERA</h3>
                <br><hr><br>
                <p class="about"> 
                    A Photographer originally from South East London. <br><br>
                    
                    He fell in love with photography at around the age of 20 when he purchased his first camera (Nikon D90).
                    Unfortunately due to family issues, he was required to sell that camera, without the funds to purchase another camera for a few years it was a constant regret. <br><br>

                    After 5 years without a camera (other than his mobile phone), he purchased a second-hand camera (Samsung GX-10) via Facebook Marketplace which reignited his passion for photography.
                    After using this camera for a few years and accumulating a few lenses he decided to upgrade the body to a Pentax K-70. <br><br>


                    In late 2020 he decided to invest in his passion and purchased a full frame camera (Sony A7RIV) with some high quality lenses.                
                </p>
                <br><hr><br>
                <p class="about">
                    This website contains a selection of his photography, design and video work.
                </p>
                <p class="notice">
                    Please note: Images are displayed at a low resolution on the website.
                </p>
                <br><hr><br>
                <section id="socials">
                    <div style="display:flex;">
                        <a href="https://glass.photo/capandcamera">
                            <div class="glass-link social-link">
                                <svg width="100%" height="100%" viewBox="0 0 1250 1250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><path d="M627.115,0.952c344.532,0 624.249,279.717 624.249,624.249c-0,344.533 -279.717,624.249 -624.249,624.249c-344.533,0 -624.249,-279.716 -624.249,-624.249c-0,-344.532 279.716,-624.249 624.249,-624.249Zm-55.772,208.434l-0,-0c-68.408,18.534 -125.566,67.653 -172.74,149.445c-42.625,73.908 -63.818,172.591 -56.099,261.488c7.175,82.604 36.856,141.922 85.323,173.247c-0,-0 -0,-0 -0,-0c49.734,32.142 113.899,30.365 167.163,-5c35.686,-23.694 78.145,-74.857 114.964,-139.172c0,0 0.973,-1.7 0.973,-1.7l-0.07,49.787l-0.069,77.967l-46.507,52.323c-52.942,59.562 -80.228,97.729 -88.533,122.531c-9.71,28.989 -5.957,55.119 6.792,73.317c13.035,18.608 35.572,29.401 64.193,26.446c45.461,-4.689 81.036,-42.721 95.117,-104.483c3.275,-14.357 5.62,-45.489 6.737,-91.557c-0.003,0.111 -0.009,0.221 -0.019,0.33l0.02,-0.35l1.59,-65.588c6.813,-7.654 57.702,-64.827 57.736,-64.865c69.975,-78.742 111.438,-126.72 125.259,-144.906c2.796,-3.678 4.575,-6.329 5.418,-7.905c1.229,-2.296 1.443,-4.073 1.457,-5.062c0,-0.001 0,-0.003 0,-0.004c0.027,-1.931 -0.497,-4.362 -1.782,-6.917c-1.169,-2.325 -3.036,-4.93 -5.193,-7.245c-2.183,-2.344 -4.655,-4.379 -6.862,-5.665c-2.594,-1.512 -5.097,-2.124 -7.073,-2.124c-0.938,0 -2.242,0.138 -3.782,0.859c-0.781,0.366 -2.274,1.302 -4.167,3.015c-5.052,4.572 -16.971,17.493 -29.925,32.636c0,0 -0,0.001 -0,0.001c-15.794,18.467 -54.836,63.53 -86.761,100.146c0,-0 -43.657,50.07 -43.657,50.07l-0.635,-73.225c-0.464,-53.517 -1.16,-79.617 -2.682,-91.432c-0.501,-3.888 -1.149,-6.552 -1.811,-8.308c-1.02,-2.704 -2.383,-4.297 -3.594,-5.301c-3.754,-3.115 -7.537,-4.342 -11.241,-4.204c-3.556,0.132 -7.325,1.545 -11.119,5.067c-4.472,4.152 -9.624,12.315 -15.669,25.398c-0.001,0 -0.001,0.001 -0.001,0.001c-22.406,48.498 -60.116,106.56 -92.5,142.377c-18.774,20.76 -47.801,41.346 -69.216,48.9c-0,-0 -0,-0 -0,-0c-22.84,8.057 -59.518,6.512 -80.47,-3.454c-34.269,-16.304 -62.024,-58.794 -73.94,-111.367c-0,-0 -0,-0.001 -0,-0.001c-7.333,-32.341 -7.223,-104.23 0.143,-145.117c14.526,-80.616 51.702,-154.456 104.141,-206.5c41.351,-41.041 78.608,-58.366 127.023,-58.422c0,-0 0.001,-0 0.001,-0c33.267,-0.04 50.012,6.234 67.837,26.485c17.342,19.703 21.355,34.751 22.887,77.88c1.184,33.369 0.474,41.247 -6.384,67.944c-9.886,38.488 -40.084,100.032 -67.546,137.797c-9.457,13.003 -17.228,25.475 -19.75,31.215c-1.598,3.636 -1.597,6.387 -1.364,7.662c0,0.003 0.001,0.005 0.001,0.008c1.161,6.317 5.7,11.539 11.494,14.191c5.872,2.688 12.807,2.639 18.274,-0.724c0.001,-0.001 0.002,-0.001 0.003,-0.002c2.619,-1.612 7.892,-7.064 14.155,-15.032c12.778,-16.257 31.297,-43.529 41.888,-62.61c32.324,-58.238 48.282,-109.586 50.915,-163.148c-0,-0 -0,-0 -0,-0c2.12,-43.176 -1.953,-65.091 -17.449,-96.057c-13.429,-26.844 -31.52,-44.501 -57.821,-56.542c-25.323,-11.593 -71.242,-13.709 -105.073,-4.544Zm111.093,657.479l27.614,-31.995l0.308,9.764c1.904,60.093 -8.01,108.378 -27.14,137.33c-11.465,17.35 -26.223,27.385 -43.843,27.385c-9.824,0 -17.375,-2.545 -22.278,-7.62c-4.465,-4.621 -6.547,-11.183 -6.607,-18.958c-0.108,-13.973 6.142,-31.341 18.63,-50.044c6.72,-10.058 30.722,-39.686 53.316,-65.862Zm64.45,-9.115c-0.76,0.628 -1.637,0.967 -2.323,1.149c-0.686,0.183 -1.183,0.208 -1.183,0.208c1.349,0 2.58,-0.513 3.506,-1.357Z" style="fill: currentColor;"/></g></svg>                           
                            </div>
                        </a>
                        <p>Join Me On Glass</p>
                    </div>
                    <div style="display:flex;">
                        <a href="https://twitter.com/capandcamera">
                            <i class="fa-brands fa-twitter social-link"></i>
                        </a>
                        <p>Tweet Me!</p>
                    </div>
                    <div style="display:flex;">
                        <a href="https://github.com/capandcamera/capandcamera-astro">
                            <i class="fa-brands fa-github social-link"></i>
                        </a>
                        <p>View this website on GitHub</p>
                    </div>                    
                    <div style="display:flex;">
                        <a href="https://ko-fi.com/capandcamera">
                            <i class="fa-solid fa-mug-hot social-link"></i>
                        </a>
                        <p>Donate Via Ko-Fi</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</Layout>